*{
  margin: 0%;
  box-sizing: border-box;

}


a {
  color: rgb(117, 13, 13);
}


body {font-family:'Roboto';
 
  
}


body {
  background-color: rgb(0, 0, 0);
  color: #929090;
}


h1 {
  color: rgb(233, 236, 233);
  font-family: 'Unbounded';
  font-size: 250%;
}

h3{
    text-align: center;
    color: #aaa9a9;
    font-family: 'Unbounded';
    font-size: 200%;
}

ul {
  list-style-type: none;
 margin: 0;
 padding: 0;
  list-style-type: none;
  margin: 0;
  padding-left: 0px;
  
  overflow: hidden;
  background-color: #000000;
  position: fixed;
  top: 0;
font-size: 20px;
 width: 100%;
 
}



li {
 float: left;
}

li a {
  display: block;
 color: white;
  text-align: center;
 padding: 14px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #111;

}



.active {
  background-color: #474747;
}

html{
  scroll-behavior: smooth;
}


.img{
  display: inline-flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: space-around;
  margin: 20px 0px 5px 0px;
}


.img2{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-content: space-around;
  padding-left: 105px;
}

.img3{
  display: flex;
  size: 50px;
}

p {
  text-align: justify;
  padding: 100px 30px 20px 100px;
}


h4
a:link, a:visited {
  background-color: #4d0d08;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block; 
  align-content: flex-end;
  justify-items: right;
}